@import "_default";
@import "_header";
@import "_page-list-auc";
@import "_breadcrumb";
@import "_page-variation-auction";
@import "_page-current-auction-timer";
@import "_page-current-auction-autor";
@import "_pagination";
@import "_footer";



.featured-slider {
	padding-bottom: 24px;
	border-bottom: 1px solid #B7B6B2;
	margin-bottom: 32px;
	&-title {
		margin-bottom: 20px;
	}
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0;
	left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
	left: 0;
	right: auto;
}
.auction-list {
	grid-gap: 30px 0;
	& > * {
		padding: 0;
	}
}
:root {
	--swiper-theme-color: #120E00;
}
.card.auction {
	border: none;
	height: 100%;
	--bs-card-inner-border-radius: 0;
	padding: 0 30px;
	& .card-body {
		padding: 8px 0;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	& .card-info {
		margin-bottom: 4px;
		& p {
			margin-bottom: 0;
		}
		& p:first-of-type {
			font-size: 18px;
			color: #120E00;
		}
		& p:last-of-type {
			color: #29654F;
		}
	}
	& .card-info-sold {
		& p {
			margin-bottom: 0;
		}
		& p:first-of-type {
			margin-bottom: 2px;
			color: #29654F;
		}
		& p:last-of-type {
			font-size: 18px;
			color: #120E00;
		}
	}
	& .card-title {
		margin-bottom: 4px;
		color: #120E00;
	}
	& .card-text {
		margin-bottom: 8px;
		color: #5F5F5F;
		margin-top: auto;
	}
	& .card-form {
		& input {
			font-size: 14px;
			line-height: 16px;
			padding: .4rem 1rem;
			border-color: #B7B6B2;
			&:focus {
				box-shadow: none;
				border-color: #B7B6B2;
			}
		}
		& .form-control::placeholder {
			color: #5F5F5F;
		}
		& .form-control::placeholder,
		& .btn-success {
			font-size: 14px;
			line-height: 16px;
		}
		& .btn-success {
			padding: .4rem 1rem;
		}
	}
	& .carousel {
		&:hover {
			& .carousel-control-next,
			& .carousel-control-prev {
				opacity: 1;
			}
		}
		& .carousel-control-next,
		& .carousel-control-prev {
			opacity: 0;
		}
		& .carousel-control-prev-icon,
		& .carousel-control-next-icon {
			background-color: rgba(1, 1, 1, 0.4);
			border-radius: 50%;
			border: 5px solid transparent;
		}
	}
}
//<div class="card-info-sold">
//<p class="fs-6">Est: 500$ - 7000$</p>
//<p>Sold: 5580$</p>
//</div>